<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SHA256 Online Tool</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="sha256.js"></script>
  </head>
  <body>
    <div class="topbox">
        <div id="outterbox">
            <div class="innerbox">
              <h1> SHA256 Online Tool</h1>
              <br/><br/>
              <h3>Text Input</h3>
              <textarea type="text" id="userInp" name="userInp" value="" rows="10" cols="100" placeholder="Input text"></textarea> <br/>
              <p id="inpText">Inputted Text: </p> <br/>
              <p id="hashText">Hashed Text: </p>
              <p class="cr">Copyright © 2020 Malik Feng</p>
            </div>
        </div>
    </div>
  </body>
</html>
